body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #150362, #f30511);
    background-size: cover; /* Background color for the page */
    margin: 0;
}
.pdf-container {
    background-color: #ffffff; /* Background color for the PDF container */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.button-container {
    margin-top: 20px;
}
button {
    background-color: #ede84a; /* Button background color */
    color: rgba(9, 13, 1, 0.84);
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
}

button:hover {
    background-color: #f4efec;
}
a{
    text-decoration: none;
}