body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(45deg, #ff7eb9, #ff65a3, #7afcff, #218cea);
}

header {
    background: linear-gradient(45deg,#218cea,  #c60fa8, #ff7eb9, #ff65a3,);
    text-align: center;
    padding: 20px;
}

header .logo {
    width: 100px;
    display: block;
    margin: 0 auto;
}

header h1 {
    margin: 10px 0 5px;
    font-size: 24px;
    color: #fffbfb;
}

header p, header h2 {
    margin: 5px 0;
    font-size: 16px;
    color: #f9f7f7;
}

nav {
    background: linear-gradient(45deg, #ff7eb9, #ff65a3, #7afcff, #218cea);
    text-align: center;
    padding: 10px 0;
}

nav button {
    background-color: #f8f664;
    border: none;
    color: rgb(252, 247, 247);
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50%;
    
}

nav button:hover {
    background-color: #0a4c6d;
}

main {
    padding: 20px;
    text-align: center;
}

.gallery {
    margin: 20px auto;
}

.gallery h3 {
    font-size: 20px;
    color: #f9f6f6;
}

.gallery-image {
    width: 80%;
    max-width: 800px;
    height: auto;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.caption {
    font-size: 14px;
    color: #120101;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 0;
    color: #555;
}
