.container {
    width: 1170px;
    height: auto;
    margin: 0 auto;
}

.container .contentrow1 {
    width: 1170px;
    height: auto;
}

.container .contentrow1 .content1 {
    width: 780px;
    height: 800px;
    background-color: #F6D000 ;
    float: left;
}

.container .contentrow1 .content1 .text1 {
    width: 390px;
    height: 100px;
    background-color:#F6D000 ;
    float: left;
}

.container .contentrow1 .content1 .text2 {
    width: 390px;
    height: 100px;
    background-color: #F6D000 ;
    float: left;
}

.container .contentrow1 .content2 {
    width: 390px;
    height: 800px;
    background: linear-gradient(to bottom right, #F6D000  50%, #CFCE96  50%);
    background-size: 100% 200%; /* Adjusted background size to control height */
    background-position: 90% -800px; /* Adjusted background position to start higher up */
    float: left;   
}

.container .contentrow2 {
    width: 1170px;
    height: auto;
}

.container .contentrow2 .content3 {
    width: 1170px;
    height: 300px;
    background-color: #ffffff;
    float: left;   
}

.container .contentrow3 {
    width: 1170px;
    height: auto;
}

.container .contentrow3 .C1 {
    width: 390px;
    height: 200px;
    background-color: #d8e1c1;
    float: left;  
    text-align: center;
}

.container .contentrow3 .C2 {
    width: 390px;
    height: 200px;
    background-color: #c1e1c1;
    float: left;  
    text-align: center; 
}

.container .contentrow3 .C3 {
    width: 390px;
    height: 200px;
    background-color: #c1e1c1;
    float: left;   
    text-align: center;
}

.container .contentrow4 {
    width: 1170px;
    height: auto;
}

.container .contentrow4 .content5 {
    width: 390px;
    height: 400px;
    background-color: #ffffff;
    float: left;   
}

.container .contentrow4 .content6 {
    width: 390px;
    height: 400px;
    background-color: #ffffff;
    float: left;   
}

.container .contentrow4 .content7 {
    width: 390px;
    height: 400px;
    background-color: #ffffff;
    float: left;   
}

.container .contentrow5 {
    width: 1170px;
    height: auto;
}

.container .contentrow5 .content8 {
    width: 1170px;
    height: 250px;
    background-color: #ffffff;
    float: left;
}

.container .contentrow6 {
    width: 1170px;
    height: auto;
}

.container .contentrow6 .content9 {
    width: 340px;
    height: 400px;
    float: left;   
}

.container .contentrow6 .content10 {
    width: 490px;
    height: 400px;
    float: left;   
}

.container .contentrow6 .content11 {
    width: 340px;
    height: 400px;
    float: left;   
}

.container .contentrow7a {
    width: 1170px;
    height: auto;
}

.container .contentrow7a .ca {
    width: 1170px;
    height: 90px;
    background-color: #ffffff;
    float: left;   
}

.container .contentrow7b {
    width: 1170px;
    height: auto;
}

.container .contentrow7b .cb {
    width: 1170px;
    height: 420px;
    float: left;   
}

.container .contentrow7b .cb .ar1 {
    width: 585px;
    height: 440px;
    float: left;   
}

.container .contentrow7b .cb .ar2 {
    width: 585px;
    height: 440px;
    float: left;   
}

.container .contentrow7c {
    width: 1170px;
    height: auto;
}

.container .contentrow7c .cc {
    width: 1170px;
    height: 90px;
    background-color: #ffffff;
    float: left;   
}

.container .contentrow8 {
    width: 1170px;
    height: auto;
}

.container .contentrow8 .content13 {
    width: 1170px;
    height: 400px;
    background-color: white;
    float: left;   
}

.container .contentrow9 {
    width: 1170px;
    height: auto;
}

.container .contentrow9 .content14 {
    width: 1170px;
    height: 500px;
    background-image: url("trainingimages/bgfood.png");
    background-repeat: no-repeat;
    background-size: cover; /* or use '100% 100%' if you prefer */
    float: left;
}

.container .contentrow9 .content14 .b1 {
    width: 585px;
    height: 500px;
    float: left;
}

.container .contentrow9 .content14 .b2 {
    width: 585px;
    height: 500px;
    text-align: center;
    float: left;
}

.solid {
    border-style: solid;
    border-color: #000;
}

.fstyle1 {
    font-size: 40px;
    font-family: 'Arial Narrow';
}

.fstyle2 {
    font-size: 45px;
    font-family: 'Snell Roundhand';
    text-align: center;
    margin-bottom: 5px;
}

.fstyle3 {
    font-size: 65px;
    font-family: 'chalkduster';
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
}

.fstyle4 {
    font-size: 16px;
    font-family: 'DejaVu Sans Mono';
    text-align: center;
    margin-top: 0;
}

.fstyle5 {
    font-size: 16px;
    font-family: 'chalkduster';
    text-align: right;
    margin-bottom: 0px;
}

.fstyle6 {
    font-size: 16px;
    font-family: 'chalkduster';
    text-align: right;
    margin-top: 0px;
}

.fstyle7 {
    font-size: 48px;
    font-family: 'chalkduster';
    text-align: left;
    margin-left: 15px;
    margin-top: 5px;
}

.fstyle8 {
    font-size: 48px;
    font-family: 'chalkduster';
    text-align: center;
    margin-top: 75px;
}

.fstyle9 {
    font-size: 16px;
    font-family: 'DejaVu Sans Mono';
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.fstyle10 {
    font-size: 16px;
    font-family: 'DejaVu Sans Mono';
    text-align: center;
    margin-top: 90px;
}

.fstyle11 {
    font-size: 16px;
    font-family: 'DejaVu Sans Mono';
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.fstyle12 {
    font-size: 20px;
    font-family: 'DejaVu Sans Mono';
    text-align: center;
    margin-top: 30px;
}

.fstyle13 {
    font-size: 48px;
    font-family: 'chalkduster';
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.fstyle14 {
    margin-top: 80px;
    margin-left: 70px;
    font-size: 40px;
    font-family: 'Arial Narrow';
    color: #fdda0d;
}

.fstyle15 {
    margin-left: 70px;
    margin-top: 0px;
    margin-right: 60px;
    color: #ffffff;
    font-family: 'DejaVu Sans Mono';
    font-size: 14px;
}

.fstyle16 {
    margin-left: 30px;
    margin-top: 200px;
    margin-right: 100px;
    color: #ffffff;
    font-family: 'DejaVu Sans Mono';
    font-size: 11px;
}

.centered-hr {
    width: 50%;
    margin: 0 auto;
}

.order-box {
    width: fit-content;
    padding: 10px;
    background-color: #fdda0d;
    border: 2px solid #000;
    text-align: center;
    font-size: 16px;
    font-family: 'DejaVu Sans Mono';
    margin: 0 auto;
    margin-top: 80px;
}

.center {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    width: 240px;
    height: 30px;
    background-color: #fdda0d;
    border: none;
    color: #000000;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: 'DejaVu Sans Mono';
    margin: 0 auto;
    cursor: pointer;
}

.istyle {
    opacity: 0.5;
}
