button{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 5px 4px 10px rgb(13, 14, 13);

    background-color:rgb(12, 221, 225);
    color:rgb(14, 15, 15);
    font-size: x-large;

}
button:hover{
    box-shadow: 5px 4px 5px rgb(109, 198, 231);

}
body{
    background-color: darkgray;
    
}
header{
    margin-top: 50px;
    border: 20px cyan;

}
h1{
    background-color: rgb(214, 20, 185);
    font-size:60px;
    width: 800px;
    height: 80px;
    color: rgb(23, 24, 24);
    border-radius: 10px;
    box-shadow: 8px 8px 10px  rgb(4, 4, 54) ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    text-align: center;
    margin: auto;

  
    
}

.gridd button:hover{
    color: azure;
    background-color: rgb(238, 147, 90);
    outline-offset: 10px;
    cursor:pointer;
    transform: translateY(2px);
    /* transition: 50px 20px; */
}
.gridd{
    padding: 50px 50px;
    margin: 100px 150px;
    background-color: rgb(80, 98, 231);
    display:grid;
    border-radius: 10px;
    
    box-shadow: 10px 10px 10px rgb(67, 60, 60);
    grid-template-columns:1fr 1fr 1fr 1fr;
    /* grid-area: 100px; */
    /* column-gap: 5px; */
    row-gap: 50px;

}



































