* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.top-bar {
    width: 100%;
    background-color: #cacaca;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto 0; /* Adjust this to match the height of the top bar */
    padding: 0 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.header .logo img {
    width: 30px;
    height: 30px;
}

.header .social-media ul {
    list-style: none;
    display: flex;
}

.header .social-media ul li {
    margin-right: 10px;
}

.header .social-media ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header .social-media ul li a img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.nav-bar {
    display: flex;
    justify-content: center;
    background-color: #eeb7e0;
    padding: 10px 0;
}

.nav-bar ul {
    list-style: none;
    display: flex;
}

.nav-bar ul li {
    margin-right: 20px;
}

.nav-bar ul li a {
    text-decoration: none;
}

.first-section {
    text-align: center;
    margin: 20px 0;
}

.first-section img {
    width: 400px;
    height: 550px;
}

.first-section h1 {
    margin-top: 10px;
}

.content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.content-block {
    background-color: #ccc;
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(50% - 40px);
    display: flex;
    align-items: center;
}

.content-block img {
    width: 80px;
    margin-right: 20px;
}

.three-blocks {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.block {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    flex: 1;
    margin: 10px;
}

.block img {
    max-width: 100%;
    height: auto;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #222;
    color: #fff;
    padding: 20px 0;
}

.footer-section {
    flex: 1;
    text-align: center;
}

.footer .footer-section nav {
    display: block;
    color: #fff;
    margin: 5px 0;
    text-decoration: none;
}

.footer .footer-section nav ul {
    list-style: none;
}

.footer .footer-section nav ul li {
    
}

.footer .footer-section nav ul li a {
    text-decoration: none;
}

.copyright {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
